.title {
  font-size: 60px;
  padding-top: 100px;
  padding-bottom: 30px;
  letter-spacing: 5px;
}
.searchBar{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchBar > input {
  height: 30px;
  margin-right: 20px;
  width: 500px;
  padding-inline-start: 10px;
}
.searchBtn {
  transition: 0.5s;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 10px;
  background: url(../search.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}
.searchBtn:hover{
  transition: 0.5s;
  width: 60px;
  height: 60px;
  background-color: rgba(60, 154, 171,0.5);
}
.sub-title > select{
  margin-left: 10px;
}
