.weather-card{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
}
.weather-card ol{
    padding: 8px;
}
.weather-card li{
    list-style: none;
    padding-top: 2vh;
}
.weather-card img{
    height: 200px;
}